"*":
  "exception-reporting":
    userId: "cbcc97b8-b921-bbeb-33e8-f163d8d19236"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "burn"
    ]
    disabledPackages: [
      "iTunes"
    ]
  "one-dark-ui":
    layoutMode: "Compact"
  editor:
    invisibles: {}
    lineHeight: 2.2
    fontFamily: "Menlo"
    scrollPastEnd: true
    tabLength: 4
  "git-plus": {}
  term2: {}
  "autocomplete-plus": {}
